/* Set the styles for each text element */

h1 {
    margin-bottom: 0;
    font-size: 3em;
    line-height: 1;
    font-weight: 700;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

p {
    font-size: 1em;
    font-weight: 400;
}